
$icon-warning-size: 48px;
$icon-warning-font-size: ($icon-warning-size * 2 / 3);
.icon-warning {
	height: $icon-warning-size;
	width: $icon-warning-size;

	border-radius: $icon-warning-size / 2;
	background-color: $RED1;
}

.icon-warning:after {
	content: "!";

	display: inline-block;
	width: $icon-warning-size;

	line-height: $icon-warning-size;
	font-size: $icon-warning-font-size;
	text-align: center;
	color: $WHT1;
}

.icon-large-close {
	background: transparent;
	border: 0px;
	padding: 0px;
	float: right;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	margin: 10px;
	opacity: 0.2;

	// have entire button showing
	position: relative;
	z-index: 1;

	// adjust clickable area
	line-height: 0.5em;
	overflow: hidden;
}

.icon-large-close:hover {
	opacity: 0.4;
}