$ONE-TOUCH-MENU-XS-FONT-SIZE: 20px;
$ONE-TOUCH-MENU-SM-FONT-SIZE: 24px;

.one-touch-menu {
	border: 1px solid $GRY_LT6;
	border-radius: 3px;
	margin-bottom: 15px;

	.menu-header {
		position: relative;
		height: 80px;

		.header-text {
			@include center-vertical-absolute();
			left: 14px;
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
            padding-right: 50px;

			@media (min-width: $screen-sm-min) {
				left: 21px;
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			}
		}

		.header-icon {
			@include center-vertical-absolute();
			right: 14px;
			height: 40px;
			width: 40px;

			@media (min-width: $screen-sm-min) {
				right: 23px;
			}

			&.plus {
				background: url("/images/icons/icon_add_blue_outline.svg") no-repeat center;
				background-size: contain;
			}

			&.minus {
				background: url("/images/icons/icon_delete_bar.svg") no-repeat center;
				background-size: contain;
			}
		}
	}

	.menu-items {
		border-top: 1px solid $GRY_LT6;
		padding-top: 10px;
		padding-bottom: 10px;

		.menu-item {
			position: relative;
			height: 61px;

			.menu-item-image {
				@include center-vertical-absolute();
				background: no-repeat center;
				background-size: contain;
				left: 14px;
				width: 34px;
				height: 34px;

				@media (min-width: $screen-sm-min) {
					left: 24px;
				}
			}

			.menu-item-text {
				@include center-vertical-absolute();
				left: 14px;
				font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
				color: $GRY3;
				width: 84%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@media (min-width: $screen-sm-min) {
					left: 21px;
					font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
				}

				&.image-showing {
					left: 62px;
					width: 66%;

					@media (min-width: $screen-sm-min) {
						left: 92px; // 24 + 34 + 34
					}
				}
			}

			.menu-item-arrow {
				@include center-vertical-absolute();
				right: 14px;
				background: url("/images/icons/dashboard/icon_arrow_grey.svg") no-repeat center;
				background-size: contain;
				width: 16px;
				height: 29px;
			}

			&:hover {
				background-color: $BLU_LT6;
			}

			&.selected {
				background-color: $BLU_LT3;
			}
		}
	}

	.back-button.col-xs-12 {
		.btn {
			width: 68%;
		}
	}

	.back-button,
	.finished-button {
		&.col-xs-6 .btn {
			width: 80%;
		}
	}

	// DoW
	.day-of-week-menu {
		width: 100%;
	}

	.button-container {
		height: 84px;
		padding-left: 2px; // because we do each button 100% / 7 - 4px
		padding-bottom: 5px;
	}

	.date-picker-instruction {
		font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
		width: 100%;
		padding: 25px 20px 25px 20px;
		border-bottom: 1px solid $GRY_LT6;
		border-top: 1px solid $GRY_LT6;
		color: $GRY3;

		@media (min-width: $screen-sm-min) {
			font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			padding: 25px 0 25px 21px;
		}
	}

	.thermostat-when-picker {
		border-top: 1px solid $GRY_LT6;
		color: $GRY3;
		font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
		margin-bottom: 15px;
		background: $WHT2;

		@media (min-width: $screen-sm-min) {
			font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
		}
		
		.thermostat-temp-row {
			position: relative;
			padding: 35px 0;
			height: 114px; // 44 + (35*2)

			&:nth-child(2) {
				// workaround for the row extending outsite the box, but wanting to apply
				// a border top to the row.
				&:after {
					position: absolute;
					background: $GRY_LT6;
					height: 1px;
					top: 0;
					left: 10px;
					width: calc(100% - 20px);
				}
			}

			&:last-of-type {
				margin-bottom: 15px;
			}
            
            .thermostat-temp-content{
                
                float: left;
                width: 100%;
                

                .select-temp-text {
                    padding-left: 25px;

                    @media (min-width: $screen-sm-min) {
                        padding-left: 50px;
                    }
                }

                .temperature-input {
                    padding-right: 25px; // mobile
                }
            
            }
            
            .thermostat-temp-error{
                word-wrap: break-word;
                width: 100%;
                float: left;
                color: $RED1;
                padding: 0 25px;
            }
		}
	}

	.day-of-week-btn {
		font-size: 18px; // 20 was just a little too big
		height: 74px;
		width: calc(100% / 7 - 4px); // this seems to work
		display: inline-block;
		text-align: center;
		padding-top: 25px; // centers the text in a fixed height div
		color: $GRY_LT7;
		line-height: 1em;
		cursor: pointer;

		@media (min-width: $screen-sm-min) {
			font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
		}

		&:hover {
			background: rgba(176, 190, 197, 0.2);
			color: $GRY3;
		}

		&.selected {
			border-bottom: 10px solid $BLU12;
			height: 84px;
		}
	}

	// ToD
	.time-of-day-menu {
		width: 100%;
		border-top: 1px solid $GRY_LT6;
		background-color: $WHT2;
		padding: 25px 0;
		margin-bottom: 15px;
	}

	.time-input-container {
		display: inline-block;
		width: 100%;

		@media (min-width: $screen-md-min) {
			width: 48%;
            margin-left: 26%;
		}
	}

	.time-input-to {
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $screen-md-min) {
			width: auto;
		}
	}

	.time-input-box { // actual textbox
		margin-left: auto;
		margin-right: auto;
		width: 80%;

		@media (min-width: $screen-md-min) {
			width: 250px;
		}
	}

	// undo action menu
	.undo-action-container {
		width: 100%;
		border-top: 1px solid $GRY_LT6;
		padding: 25px 0;
		margin-bottom: 15px;

		.title-row {
			font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			color: $GRY3;
			padding-left: 21px;
			padding-bottom: 15px;
		}

		.undo-action-list {
			border-top: 1px solid $GRY_LT6;
		}

	}

	// timer then do later
	.timer-do-later {
		width: 100%;
		border-top: 1px solid $GRY_LT6;
		padding: 25px 0;
		margin-bottom: 15px;

		.header-row {
			padding-left: 21px;
			padding-bottom: 15px;
		}

		.timer-row {
			height: 50px;
		}
	}

	.timer-change-check-box {
		margin: 15px 0px 15px 0px;
	}

	.timer-height {
	  height: 44px;
	}

	.timer-row {
		.timer-row-parent {
			position: relative;
			height: 44px;

			.timer-row-child {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

		}
	}
	.timer-change-check-box {
		position: relative;
		height: 15px;
		.check-box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
		}
	}
	.timer-input {
		max-width: 150px;
	}
	.timer-title {
		font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
		color: $GRY3;
	}

	.timer-content {
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: $WHT2;
	}

	// contact-info
	.contact-info-view {
		border-top: 1px solid $GRY_LT6;
		padding-bottom: 15px;

		.header-row {
			padding: 25px 21px;

			@media (min-width: $screen-sm-min) {
				padding: 25px 0 45px 21px;
			}
		}

		// email or sms composite
		.contact-composite {
			border-bottom: 1px solid $GRY_LT6; // match color from other

			.header-row {
				padding: 38px 21px 30px;

				@media (min-width: $screen-sm-min) {
					padding: 38px 21px 30px;
				}
			}

			.contact-options-container {
				padding-left: 29px;
				padding-bottom: 20px;

				@media (min-width: $screen-sm-min) {
					padding-left: 79px;
				}
			}
		}

		.green-check {
			width: 34px;
			height: 34px;
			background: url("/images/icons/icon_check_green.svg") no-repeat center;
			background-size: contain;
		}

		.contact-type {
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;

			@media (min-width: $screen-sm-min) {
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			}
		}

		.contact-description {
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
			color: $GRY3;

			@media (min-width: $screen-sm-min) {
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			}
		}

		.add-new-row {
			padding-top: 30px;

			.add-icon {
				width: 32px;
				height: 42px;
				background: url("/images/icons/icon_add_blue.svg") no-repeat center;
				background-size: contain;
				cursor: pointer;

				@media (min-width: $screen-sm-min) {
					width: 48px;
					height: 47px;
				}
			}
		}

		.input-region {
			margin: 25px;
			padding-bottom: 30px;
		}

		.new-contact-text {
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
			color: $GRY3;
			margin: 5px 24px 0 12px;

			@media (min-width: $screen-sm-min) {
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
				margin-left: 18px;
			}
		}

		.content-area {
			width: 95%;
			border: 1px solid $GRY_LT6;
			border-bottom: none;
		}

		// form
		.add-new-contact {
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
			color: $GRY3;

			@media (min-width: $screen-sm-min) {
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
			}
		}

		.title-form-row {
			padding: 25px 19px 29px 24px;
		}

		.new-contact-textbox {
			padding: 0 25px;

			&.has-dropdown {
				padding-left: 0;
			}
		}

		.new-contact-dropdown {
			padding-top: 20px;
			padding-left: 25px;

			button {
				padding: 11px 3px;

				@media (min-width: $screen-sm-min) {
					padding: 11px 8px;
				}
			}
		}

		.icon-close {
			width: 32px;
			height: 32px;
			background: url("/images/icons/icon_delete_blue.svg") no-repeat center;
			background-size: contain;
			cursor: pointer;

			@media (min-width: $screen-sm-min) {
				width: 48px;
				height: 47px;
			}
		}

		.cancel-text {
			font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
			color: $GRY3;
			text-align: right;
			margin-top: 5px;
			margin-right: 8px;
			cursor: pointer;

			@media (min-width: $screen-sm-min) {
				font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
				margin-right: 18px;
			}
		}

		.contact-menu-item {
			.checkbox-icon {
				width: 32px;
				height: 33px;
			}

			.checkbox-text {
				font-size: $ONE-TOUCH-MENU-XS-FONT-SIZE;
				color: $GRY3;
				margin-left: 24px;

				@media (min-width: $screen-sm-min) {
					font-size: $ONE-TOUCH-MENU-SM-FONT-SIZE;
				}
			}
		}
	}

	// thermostat modes (fan, systemMode)
	.thermostat-mode-menu {
		border-top: 1px solid $GRY_LT6;
		background-color: $WHT2;
		padding: 40px 20px;

		@media (min-width: $screen-md-min) {
			padding-left: 108px;
			padding-right: 108px;
		}

		.thermostat-mode-option {
			border: 1px solid $GRY_LT1;
			margin-bottom: 15px;

			&:last-of-type {
				margin-bottom: 0;
			}

			.salus-checkbox {
				background-color: $WHT0;
				margin: 0;
				padding-top: 40px;
				padding-bottom: 36px;
			}

			.checkbox-icon {
				@include center-vertical-absolute();
				left: 20px;

				@media (min-width: $screen-md-min) {
					left: 40px;
				}
			}

			.checkbox-text {
				@include center-vertical-absolute();
				font-size: 16px;
				left: 124px; // 20 + 24 + 20 + 40 + 20
				margin-left: 0;

				@media (min-width: $screen-md-min) {
					left: 194px; // 40 + 24 + 40 + 50 + 40
				}
			}

			.mode-icon {
				@include center-vertical-absolute();
				width: 40px;
				height: 40px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				left: 64px; // 20 + 24 + 20

				@media (min-width: $screen-md-min) {
					width: 50px;
					height: 50px;
					left: 104px; // 40 + 40 + 24
				}
			}

			.heating-icon {
				background-image: url("/images/icons/myEquipment/icon_heater_off_grey.svg");
			}

			.cooling-icon {
				background-image: url("/images/icons/myEquipment/icon_air_conditioning_snowflake_off.svg");
			}

			.auto-icon {
				background-image: url("/images/icons/myEquipment/icon_fan_auto_grey.svg");
			}
            
            .on-icon {
                background-image: url("/images/icons/myEquipment/icon_follow_schedule.svg");
            }

			.off-icon {
				background-image: url("/images/icons/myEquipment/icon_power_grey.svg");
			}
            
            .lock-icon {
                background-image: url("/images/icons/myEquipment/icon_lock_grey.svg");
            }
            
            .unlock-icon {
                background-image: url("/images/icons/myEquipment/icon_unlock_grey.svg");
            }
            
            .permanent-hold-icon {
                background-image: url("/images/icons/myEquipment/icon_permanent_hold.svg");
            }

			.fan-icon {
				background-image: url("/images/icons/myEquipment/icon_fan_grey.svg");
			}
		}
	}
}