// This file is best viewed with Tab size 4 code indentation


// -----------------------------------------------------------------------------------------------------------------
// 1. Theme Quick Settings (Variables)
// (for further control, you will need to dig into the actual CSS in 2.)
// -----------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------

//$sm-clean__white:										#fff;
//$sm-clean__gray:										darken($sm-clean__white, 6.5%);
//$sm-clean__gray-dark:									darken($sm-clean__white, 26.5%);
//$sm-clean__gray-darker:									darken($sm-clean__white, 66.5%);
//$sm-clean__red:											#D23600;

//$sm-clean__box-shadow:									rgba(0, 0, 0, 0.2);


// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------

//$sm-clean__desktop-vp:									768px;		// switch from collapsible to desktop


// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------

$sm-clean__font-family:									inherit;
$sm-clean__font-size-base:								14px;
$sm-clean__font-size-small:								14px;
$sm-clean__line-height:									20px; /* to match bootstrap's nav line height */


// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------

$sm-clean__border-width:								0px;
//$sm-clean__border-radius:								5px;


// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------

// Menu box
//$sm-clean__collapsible-bg:								$sm-clean__gray;
//$sm-clean__collapsible-border-radius:					$sm-clean__border-radius;

// Items
//$sm-clean__collapsible-item-color:						$sm-clean__gray-darker;
//$sm-clean__collapsible-item-current-color:				$sm-clean__red;
//$sm-clean__collapsible-item-disabled-color:				darken($sm-clean__gray, 20%);
//$sm-clean__collapsible-item-padding-vertical:			13px;
//$sm-clean__collapsible-item-padding-horizontal:			20px;

// Items separators
//$sm-clean__collapsible-separators-color:				rgba(0, 0, 0, 0.05);

// Toggle button (sub menu indicators)
//$sm-clean__collapsible-toggle-bg:						rgba(255, 255, 255, 0.5);


// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------

// Menu box
//$sm-clean__collapsible-sub-bg:							rgba(darken($sm-clean__collapsible-bg, 30%), 0.1);

// Items text indentation for deeper levels
//$sm-clean__collapsible-sub-item-indentation:			8px;


// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

// Menu box
$sm-clean__desktop-bg:									$COLOR-HEADER;
//$sm-clean__desktop-border-radius:						100px;
$sm-clean__desktop-padding-horizontal:					20px;

// Items
$sm-clean__desktop-item-color:							$BLU_LT3;
$sm-clean__desktop-item-hover-color:					$WHT0;
$sm-clean__desktop-item-current-color:					$WHT0;
//$sm-clean__desktop-item-disabled-color:					darken($sm-clean__gray, 20%);
$sm-clean__desktop-item-padding-vertical:				(($navbar-height - $line-height-computed) / 2); /* m atch bootstrap's nav padding */
$sm-clean__desktop-item-padding-horizontal:				15px;

// Sub menu indicators
$sm-clean__desktop-arrow-size:							0px;		// border-width
//$sm-clean__desktop-arrow-color:							$sm-clean__gray-darker;
$sm-clean__desktop-arrow-spacing:						0px;

// Vertical menu box
//$sm-clean__desktop-vertical-border-radius:				$sm-clean__border-radius;
//$sm-clean__desktop-vertical-padding-vertical:			10px;

// Vertical items
//$sm-clean__desktop-vertical-item-hover-bg:				$sm-clean__white;
//$sm-clean__desktop-vertical-item-padding-vertical:		10px;
//$sm-clean__desktop-vertical-item-padding-horizontal:	20px;


// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------

// Menu box
//$sm-clean__desktop-sub-bg:								$sm-clean__white;
//$sm-clean__desktop-sub-border-color:					$sm-clean__gray-dark;
//$sm-clean__desktop-sub-border-radius:					$sm-clean__border-radius;
//$sm-clean__desktop-sub-box-shadow:						0 5px 9px $sm-clean__box-shadow;
$sm-clean__desktop-sub-padding-vertical:				10px;
//$sm-clean__desktop-sub-padding-horizontal:				0;

// Items
$sm-clean__desktop-sub-item-color:						$BLU4;
$sm-clean__desktop-sub-item-hover-color:				$BLU4;
$sm-clean__desktop-sub-item-hover-bg:					rgba(187, 222, 251, 0.5);
//$sm-clean__desktop-sub-item-current-color:				$sm-clean__red;
//$sm-clean__desktop-sub-item-disabled-color:				darken($sm-clean__white, 20%);
$sm-clean__desktop-sub-item-padding-vertical:			10px;
$sm-clean__desktop-sub-item-padding-horizontal:			20px;

// Sub menu indicators
//$sm-clean__desktop-sub-arrow-size:						5px;		// border-width

// Sub menu carets
//$sm-clean__desktop-sub-caret-size:						8px;		// border-width
//$sm-clean__desktop-sub-caret-left:						30px;

@mixin border-radius($arg1) {
	border-radius: 0px;
}
