<div class="row">
	<div id="bb-alert-table" class="col-xs-12 alert-table">
		<div class="row header-row font-semi-bold hidden-xs hidden-sm">
			<div data-sort-enum-val="NAME" class="col-md-4 bb-header header">
				<div class="inline-block" data-i18n="messageCenter.alerts.alert"></div>
				<div class="inline-block sort-arrow-icon"></div>
			</div>
			<div data-sort-enum-val="EQUIP_NAME" class="col-md-3 bb-header header">
				<div class="inline-block" data-i18n="messageCenter.alerts.equipment"></div>
				<div class="inline-block sort-arrow-icon"></div>
			</div>
			<div data-sort-enum-val="ALIAS" class="col-md-3 bb-header header">
				<div class="inline-block" data-i18n="equipment.list.tableHeaders.alias"></div>
				<div class="inline-block sort-arrow-icon"></div>
			</div>
			<div data-sort-enum-val="DATE" class="col-md-2 bb-header header">
				<div class="inline-block" data-i18n="messageCenter.alerts.dateTime"></div>
				<div class="inline-block sort-arrow-icon"></div>
			</div>
		</div>
	</div>
</div>