				<tr>
					<td bgcolor="white" style="border-top: 2px solid #B0BEC5; padding: 20px 13px; font-size: 14px; color: #455A64;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
							<% if (email.footer.legalText) { %>
								<tr>
									<td>
										<p>
											<%= email.footer.legalText %><br/>
										</p>
									</td>
								</tr>
							<% } %>
								<tr>
									<td>
										<% if (email.footer.salusCompanyName) { %>
										<%= email.footer.salusCompanyName %><br/>
										<% } %>
										<% if (email.footer.salusCompanyAddress) { %>
										<%= email.footer.salusCompanyAddress %><br/>
										<% } %>
										<% if (email.footer.salusCopyRightHtml) { %>
										<%= email.footer.salusCopyRightHtml %><br/>
										<% } %>
										<% if (email.footer.salusWebSiteUrl && email.footer.salusWebSiteText) { %>
											<a href="<%= email.footer.salusWebSiteUrl %>">
												<%= email.footer.salusWebSiteText %>
											</a><br/>
										<% } %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
