<h3 id="bb-tsc-page-subheader" class="subheader margin-b-20"></h3>
<div class="bb-existing-region existing-tscs hidden"></div>
<div id="new-tsc-area">
	<div class="row">
		<div class="section-indicator col-xs-1">1</div>
		<div class="section-title col-xs-9 col-sm-10"
			 data-i18n="equipment.thermostatSingleControl.createPage.newTSCSectionTitle"></div>
	</div>
	<div class="bb-tsc-name-textbox tsc-name-textbox margin-b-50"></div>
	<div class="row">
		<div class="section-indicator col-xs-1">2</div>
		<div class="section-title col-xs-9 col-sm-10"
			 data-i18n="equipment.thermostatSingleControl.createPage.thermostatsSectionTitle"></div>
	</div>
	<div class="bb-thermostats-available"></div>
</div>
<div class="row alert alert-danger bb-error hidden" role="alert">
	<button type="button" class="close bb-close-button" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
	</button>
	<strong data-i18n="schedules.edit.modal.duplicateTstatsErrorTitle"></strong>
	<div data-i18n="schedules.edit.modal.duplicateTstatsErrorBody"></div>
</div>
<div class="button-row row">
	<div class="bb-add-button add-button col-sm-3 col-xs-8 col-xs-pull-2 col-sm-pull-0 margin-b-15 pull-right"></div>
	<div class="bb-finish-button col-sm-3 col-xs-8 col-xs-pull-2 col-sm-pull-0 margin-b-15 pull-right"></div>
	<div class="bb-cancel-button col-sm-3 col-xs-8 col-xs-pull-2 col-sm-pull-0 margin-b-15 pull-right"></div>
</div>
<div class="bottom-blurb margin-b-10" data-i18n="equipment.thermostatSingleControl.createPage.bottomBlurb"></div>