<div class="row centered-logo"></div>
<div class="row group">
	<div class="title col-xs-6" data-i18n="settings.about.companyTitle"></div>
	<div class="text bb-company-name-text col-xs-6" data-i18n="settings.about.companyName"></div>
</div>
<div class="row">
	<div class="col-xs-6"></div>
	<div class="text bb-company-url-text col-xs-6"></div>
</div>
<div class="row group">
	<div class="title col-xs-6" data-i18n="settings.about.buildDateTitle"></div>
	<div class="text bb-build-date-text col-xs-6"></div>
</div>
<div class="row group">
	<div class="title col-xs-6" data-i18n="settings.about.releasedTitle"></div>
	<div class="text bb-released-date-text col-xs-6"></div>
</div>
<div class="row group">
	<div class="title col-xs-6" data-i18n="settings.about.versionTitle"></div>
	<div class="text bb-version-text col-xs-6"></div>
</div>
<div class="bb-copyright-text copyright-text"></div>
<div class="row">
	<div class="col-xs-12 bb-remove-group-in-tile-order" style="text-align: center">
		<button type="button" class="btn btn-link" style="color: #fff;">remove-group-in-tile-order</button>
	</div>
</div>