<div class="ungrouped-tile-background tile-shadow relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-ungrouped-equip-icon ungrouped-equip-icon"></div>
		<div class="bb-ungrouped-equip-text ungrouped-equip-text"></div>
		<div class="bb-pin-to-dashboard pin-to-dashboard"></div>
	</div>
</div>