<div class="individual-controls-header" data-i18n="equipment.myEquipment.categories.thermostats.individualControls"></div>
<div class="bb-individual-controls-container individual-controls-container row"></div>