<div id="bb-tsc-success" class="row hidden">
	<div class="success-icon"></div>
	<div class="success-text"></div>
	<div class="success-message"></div>
</div>
<div class="bb-schedule-menu"></div>
<div class="bb-single-controls"></div>
<div class="bb-individual-controls"></div>