<div class="setup-wizard-header"></div>
<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-2">
		<div class="page-header">
			<h1 class="h1" data-i18n="settings.profile.changePassword.title"></h1>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-3">
		<div class="row form">
			<div class="col-xs-12">
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-8">
						<div class="bb-old-password"></div>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-8">
						<div class="bb-new-password"></div>
						<div class="bb-confirm-password"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<div class="row margin-b-45">
			<div class="col-xs-12 password-req-wrp" data-i18n="settings.profile.changePassword.passwordRequirements"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-3 form toc-button-form">
			<div class="col-xs-12 col-sm-3 col-sm-push-4 bb-submit-button"></div>
			<div class="col-xs-12 col-sm-3 col-sm-pull-3 bb-cancel-button cancel-button"></div>
	</div>
</div>