<%- include("modules/_globalHeader.ejs")%>
<%- include("modules/_title.ejs", {title: email.dynamic_body.title })%>
<tr>
	<td bgcolor="#ffffff" style="padding: 0px 52px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
			<tr>
				<td style="padding: 20px 0 30px 0; color: #153643; font-size: 17px; line-height: 20px;">
					[[email_body_html]]
				</td>
			</tr>
			</tbody>
		</table>
	</td>
</tr>
<% if (addMobileLinks) { %>
<%/* - include("modules/_openMobileApp.ejs") */%>
<% } %>
<%- include("modules/_globalFooter.ejs")%>

