<div class="row section-header-row border-bottom-row">
	<div class="section-indicator-wrapper col-xs-3 col-sm-2">
		<div class="bb-section-indicator section-indicator"><%= index %></div>
	</div>
	<div class="bb-section-text-wrapper section-text-wrapper col-xs-9 col-sm-10">
		<div class="bb-section-text section-text"></div>
	</div>
</div>
<div class="row customize-content-row border-bottom-row">
	<div class="bb-custom-content-region col-xs-12"></div>
</div>