<div class="col-xs-12 energy-meter-wrapper">
	<div class="row border-bottom-row customize-content-row no-top-pad">
		<div class="col-xs-6 col-sm-4 col-sm-offset-2 section-text description top-padding" data-i18n="setupWizard.provisioning.customize.voltageReading"></div>
		<div class="col-xs-6 col-sm-4">
			<div class="bb-voltage-dropdown energy-dropdown"></div>
		</div>
	</div>
	<div class="row customize-content-row">
		<div class="col-xs-6 col-sm-4 col-sm-offset-2 section-text description top-padding" data-i18n="setupWizard.provisioning.customize.phasesReading"></div>
		<div class="col-xs-6 col-sm-4">
			<div class="bb-phases-dropdown energy-dropdown"></div>
		</div>
	</div>
	<div class="row border-top-row bb-clamps-row customize-content-row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-2 section-text description" data-i18n="setupWizard.provisioning.customize.clampsReading"></div>
		<div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-2 bb-clamps1-error clamps-error-text" data-i18n="setupWizard.provisioning.customize.clamps1Error"></div>

        <div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-2 bb-clamps-error clamps-error-text" data-i18n="setupWizard.provisioning.customize.clampsError"></div>
		<div class="col-xs-11 col-xs-offset-1 col-sm-10 col-sm-offset-2 bb-clamps-name-error clamps-error-text vis-hidden" data-i18n="setupWizard.provisioning.customize.clampsNameError"></div>
		<div class="bb-clamps-anchor col-xs-12"></div>
	</div>
</div>
