<!--<div class="setup-wizard-header"></div>-->
<div class="container">
	<div class="page-title text-center font-semi-bold" data-i18n="setupWizard.provisioning.customize.setupEquipment"></div>
	<div class="page-info text-center" data-i18n="setupWizard.provisioning.customize.selectWhich"></div>
</div>
<div class="bb-equipment-region"></div>
<div class="container">
	<div class="button-wrapper row padding-t-20 margin-b-25">
		<div class="bb-finish-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-2 pull-right margin-b-10"></div>
		<div class="bb-cancel-button col-xs-10 col-sm-3 col-xs-pull-1 col-sm-pull-4 pull-right"></div>
	</div>
</div>