<div id="bb-modal-region"></div>
<div id="bb-app-connected-solution">
	<div id="bb-page-container">
		<div class="bb-region-body body-content">
			<div id="authenticating-page">
				<% /* The Header is now in multiple places. See header.html, authenticatingPage.html and mainBody.ejs */%>
				<header class="bb-region-header navbar navbar-default site-header-container">
					<div role="navigation" class="container">
						<div class="navbar-header row">
							<a href="/" class="navbar-brand bb-logo-link">
								<img class="bb-header-icon header-icon pull-left" src="/images/icons/icon_svg_logo_white.svg">
								<span class="brand-text font-light pull-left" data-i18n="common.brand"></span>
							</a>
						</div>
					</div>
				</header>
				<h1 class="text-center" data-i18n="common.loadingMessage"></h1>
				<div class="spinner"></div>
			</div>
		</div>
	</div>
	<div id="bb-login-page-container" class="login-page">

        <div class="container">
            <div class="row">
                <!--<div class="col-xs-4 nav-min-height">
                    <div class="navbar-brand salus-navbar-brand center-vertical-absolute">
                        <img class="center-block" src="/images/icons/icon_svg_logo_white.svg">
                    </div>
                </div>-->
                
                <div class="col-xs-4 nav-min-height pull-left">
                    <div style="padding: 33.5px 10px;">
                        <div class="logo center-vertical-absolute"></div>
                    </div>
                </div>

                <div class="col-xs-4 visible-xs nav-min-height pull-right">
                    <div class="hamburger center-vertical-absolute"></div>
                </div>
            </div>
        </div>

        <div class="spinner"></div>

		<!--<div class="row">
			<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6">
				<div class="well-region" style="min-height: 666px;padding-top:0px;">
					<div class="salus-logo"></div>
					<div id="bb-well-headline" class="login-headline font-light font-size-42" data-i18n="common.loadingMessage">
					</div>
					<div class="spinner center-horizontal-absolute"></div>
				</div>
			</div>
		</div>-->

	</div>
</div>



<!-- Preload fonts -->
<div class='preload' style='font-weight: 700'>&nbsp;</div>
<div class='preload' style='font-weight: 600'>&nbsp;</div>
<div class='preload' style='font-weight: 400'>&nbsp;</div>
<div class='preload' style='font-weight: 300'>&nbsp;</div>

<!-- breakpoint detection divs -->
<div class="bb-breakpoint-detector bb-device-xs visible-xs"></div>
<div class="bb-breakpoint-detector bb-device-sm visible-sm"></div>
<div class="bb-breakpoint-detector bb-device-md visible-md"></div>
<div class="bb-breakpoint-detector bb-device-lg visible-lg"></div>
<div id="bb-background-div" style="height:0px; width: 0px;"></div>

